@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.bg-image-large {
  background-image: url("/world_wide_web_blue_globe.png");
  background-size: cover;
  background-position: 0% 15%;
}

.hamburger {
  margin-left: 2%;
  cursor: pointer;
  display: inline-block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburgerButton {
  background-color: transparent;
  border: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
