@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.bg-image-mobile {
  background-image: url("/homepage-bg-globe 2.png");
  background-size: cover;
  background-position: center;
}

.bg-image-large {
  background-image: url("/homepage-bg-globe 2.png");
  background-size: cover;
  background-position: bottom;
}

.hamburger {
  margin-left: 2%;
  cursor: pointer;
  display: inline-block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburgerButton {
  background-color: transparent;
  border: none;
}
